<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New message</title>
</head>
<body>
    <h2>Leave a message:</h2>
    <form action="./new" method="post" class="grid grid-cols-1 justify-items-center">
        <input type="text" name="username" id="username" placeholder="Your name" required>
        <input type="text" name="messageText" id="messageText" placeholder="Your message" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
