<h2>Leave a message:</h2>
<form action="./new" method="post">
    <input type="text" name="username" id="username" placeholder="Your name" required>
    <input type="text" name="messageText" id="messageText" placeholder="Your message" required>
    <button type="submit">Submit</button>
</form>